* {
    padding: 0;
    margin: 0;
    font-family: cursive;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-color: aqua;
}

.pink {
    height: auto;
    width: auto;
    background-image: url(../css/images/R.jpg);
}

nav {
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.idk {
    color: blueviolet;
    font size: 38px;
}